<div class="example-container">


    <form [formGroup]="userForm" (ngSubmit)="logFormValue()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="firstName">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName">Last Name</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName">Middle Name</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="middleName">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName">Suffix</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="suffix">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName">DOB</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="dob">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName"> SSN </label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="ssn">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName">Email Address</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="emailAdress">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName"> Primary Phone Number</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="primaryPhoneNumber">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="firstName"> Alternative Phone Number</label>
            <mat-form-field>
                <input matInput class="form-control" type="text" formControlName="alternativePhoneNumber">
            </mat-form-field>
        </div>

        <div formGroupName="address">
            <div class="form-group">
                <label for="street">Adress1</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="adress1"
                        class="form-control">
                </mat-form-field>
                <label for="street">Adress2</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="adress2"
                        class="form-control">
                </mat-form-field>
                <label for="street">Zipcode</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="zipcode"
                        class="form-control">
                </mat-form-field>
                <label for="street">city</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="city"
                        class="form-control">
                </mat-form-field>
                <label for="street">state</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="state"
                        class="form-control">
                </mat-form-field>
                <label for="street">country</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="country"
                        class="form-control">
                </mat-form-field>
                <label for="street">livedatthisadress</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="livedatthisadress"
                        class="form-control">
                </mat-form-field>
                <label for="street">house status</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="houseStatus"
                        class="form-control">
                </mat-form-field>
                <label for="street">monthly paying amount</label>
                <mat-form-field>
                    <input matInput type="text"   formControlName="monthlypayingamount"
                        class="form-control">
                </mat-form-field>
            </div>
           
        </div>
        <mat-form-field>
                <input matInput type="text"   formControlName="applicationId"
                    class="form-control">
            </mat-form-field>
            <mat-form-field>
                    <input matInput type="text"   formControlName="personIdTupe"
                        class="form-control">
                </mat-form-field>
    </form>
    <button type="submit" class="btn btn-default" (click)='logFormValue()'>Submit</button>
</div>